.form-container {
    padding: 40px 40px 60px;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: solid 1px #aaa;
    border-radius: 8px;
}

.form-title {
    padding: 20px 0;
    font-family: var(--text-font);
    font-size: 24px;
    font-weight: 500;
}

.form-sub-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-label-area {
    position: relative;
    min-height: 80px;
    width: 450px;
}

.input-label-area-medium {
    position: relative;
    min-height: 80px;
    width: 290px;
}

.input-label-area-small {
    position: relative;
    min-height: 80px;
    width: 140px;
}

.label-generic {
    position: absolute;
    top: 13px;
    left: 5px;
    padding: 0 4px;
    font-family: var(--text-font);
    font-size: 1rem;
    color: #444;
    background-color: #fff0;
    pointer-events: none;
    transition: all .2s;
}

.input-generic:focus + .label-generic,
.input-generic:not(:placeholder-shown) + .label-generic
{
    top: -5.5px;
    left: 5px;
    font-size: 11px;
    font-weight: 700;
    color: #000;
    background-color: #ffff;
}

.input-generic {
    width: 100%;
    padding: 12px 8px;
    font-family: var(--text-font);
    font-size: 1rem;
    border: 1px solid #aaa;
    background-color: #fff;
    outline: none;
}

.input-generic:focus,
.input-generic:hover{
    border: 1px solid #000;
}

.input-error {
    display: flex;
    align-items: center;
    padding-top: 7px;
    gap: 3px;
    font-family: var(--text-font);
    font-size: 11px;
    font-weight: 500;
    color: rgb(160, 0, 0);
}

.input-error-svg {
    width: 18px;
    height: 16px;
    fill: none;
    stroke: rgb(160, 0, 0);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.button-generic {
    width: 225px;
    height: 45px;
    border: none;
    border-radius: 4px;
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #444;
}

.button-generic:hover {
    background-color: #333;
}

.button-suppr {
    background-color: rgb(160, 0, 0);
}

.button-suppr:hover {
    background-color: rgb(120, 0, 0);
}