.header{
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--text-font);
    background-color: var(--main-color-less);
}

.header-logo {
    height: 82px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.header-logo-image {
    width: 78px;
}

.header-logo-text {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.header-link-zone{
    display: flex;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 25px;
    color: #151515;
    text-decoration: none;
}

.header-link-image-account {
    width: 27px;
}

.header-link-image-cart {
    width: 35px;
}